body {
  padding: 5px 10px 20px 10px;
}

.navbar {
  margin-bottom: 10px;
}
#navigation{
    background-color:#f2bb00;
    color:#fff;    		
}
#navigation a{
	color:#fff;	
	font-size: 12px;
}
#dropdown a{
	color:#333;
}
#topnav{
	font-size: 12px;
	color:#444;
}
#topnav a{
	color:#333;
	font-size: 12px;
	font-weight: bold;
}
#topnav a:hover{
	color: #f2bb00;
	text-decoration: none;
}	
form{
	margin: 0;
	padding: 0;
}
.button{
	border-style: none;
	background-color: #eee;
}
.separator{
	margin:-10px 0 0 0;
	padding: 0;
	border-left:1px solid #ccc;
}
#topbar{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
#topbar a{
	color:#000;
	font-size: 10px;
	margin-right: 10px;
}
#three_button{
	margin-top:10px;
}
#three_button button{
	font-size: 12px;
	font-weight: bold;
}