<html>
<head>
<style type="text/css">
.under
{
position:absolute;
z-index:-1;
}
.over
{
position:absolute;
z-index:-1;
}
</style>
</head>

<body>
<img src="images/furniture/floor-10.png"  class="over" />
<img src="images/furniture/wall-14.png"  class="over" />
<img src="images/furniture/frame-8.png"  class="over" />
<img src="images/furniture/window.png"  class="over" />
<img src="images/furniture/curtain-5.png"  class="over" />
<img src="images/furniture/floor-lamp-16.png"  class="under" />
<img src="images/furniture/floorvase-8.png"  class="under" />
<img src="images/furniture/wesley.png"  class="under" />
<img src="images/furniture/pillow-11.png"  class="under" />


</body>
</html>