<!DOCTYPE html>
<html>
<head>
	<title>Furnimade</title>
	<link href="asset/asset_index/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="asset/asset_index/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="asset/asset_index/bootstrap/js/jquery.min.js">
  	<link rel="stylesheet" href="asset/asset_index/bootstrap/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="asset/default.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
$(document).ready(function(){ 
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>	
</head>
<body>
<nav class="navbar navbar-default">
  <div class="fur-topbar hidden-xs">

      <div class="row text-center">
        <div class="col-md-5 col-sm-5 hidden-xs" style="padding-top:5px">
          <a href="#">TENTANG KAMI</a>
          <a href="#">FAQ's</a>
          <a href="#">BLOG</a>
          <a href="#">SYARAT & KETENTUAN</a>
          <a href="#">PARTNER</a>
          <a href="#">GABUNG SEBAGAI SUPPLIER</a>
        </div>
        <div class="col-md-5 col-sm-5 hidden-xs"></div>
        <div class="col-md-2 col-sm-5 hidden-xs" style="font-size:20px">
          <a href="#"><i class="fa fa-facebook-square fa-fw"></i></a>
          <a href="#"><i class="fa fa-twitter-square fa-fw"></i></a>
          <a href="#"><i class="fa fa-instagram fa-fw"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-fw"></i></a>
          <a href="#"><i class="fa fa-pinterest-square fa-fw"></i></a>
        </div>
      </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <img class="img-responsive" src="asset/images/logo.png">
      </div>
      <div class="col-md-4 hidden-xs fur-navbar">
        <a href="#"><b><i class="fa fa-bed fa-fw"></i> Lihat Katalog</b></a>
        <a href="#"><b><i class="fa fa-pencil fa-fw"></i> Buat Furniture Impianmu</b></a>
      </div>
      <div class="col-md-4 hidden-xs">
        <div class="col-md-5 fur-navbar">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search">
            <span class="input-group-addon fur-btn-sa">
              <button type="submit" class="button" style="background-color: transparent;">
                <i class="fa fa-search fa-fw"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-7 text-center" style="margin-top:5px">
          <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle user" type="button" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Riwayat Pesanan</a></li>
              <li><a href="#">Barang Diterima</a></li>
              <li><a href="#">Pesan</a></li>
              <li><a href="#">Riwayat Desain produk</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </span>

            <button class="btn btn-primary user" type="button">
            <i class="fa fa-shopping-cart fa-fw"></i>
           </button>

        <!--div class="nav responsive-menu">
          <li class="dropdown">
                      <a class="user" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><span class="caret"></span></a>
                      <ul class="dropdown-menu bpt-submenu">
                        <li><a href="#">Bantal</a></li>
                        <li><a href="#">Hiasan Dinding</a></li>
                        <li><a href="#">Hiasan Lantai</a></li>
                        <li><a href="#">Lampu Gantung</a></li>
                        <li><a href="#">Lampu Lantai</a></li>
                        <li><a href="#">Lantai</a></li>
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Sofa Kasur</a></li>
                        <li><a href="#">Tirai</a></li>
                        <li><a href="#">Wallpaper</a></li>
                      </ul>
          </li>
          <li class="dropdown">
                      <a class="dropdown-toggle user" data-toggle="dropdown" href="#"><i class="fa fa-shopping-cart fa-fw"></i><span class="caret"></span></a>
                      <ul class="dropdown-menu bpt-submenu">
                        <li><a href="#">Bantal</a></li>
                        <li><a href="#">Hiasan Dinding</a></li>
                        <li><a href="#">Hiasan Lantai</a></li>
                        <li><a href="#">Lampu Gantung</a></li>
                        <li><a href="#">Lampu Lantai</a></li>
                        <li><a href="#">Lantai</a></li>
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Sofa Kasur</a></li>
                        <li><a href="#">Tirai</a></li>
                        <li><a href="#">Wallpaper</a></li>
                      </ul>
          </li>
          </div>-->
        </div>
      </div>    
    </div>
  </div>
  <div class="nav menu sf-menu responsive-menu superfish sf-js-enabled">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fur-collapse-nav" id="#fur-collapse-nav" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            <div class="collapse navbar-collapse" id="fur-collapse-nav">
              <ul class="nav navbar-nav">
                    <li><a href="#home">Home <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ruang Tamu<span class="caret"></span></a>
                      <ul class="dropdown-menu bpt-submenu">
                        <li><a href="#">Bantal</a></li>
                        <li><a href="#">Hiasan Dinding</a></li>
                        <li><a href="#">Hiasan Lantai</a></li>
                        <li><a href="#">Lampu Gantung</a></li>
                        <li><a href="#">Lampu Lantai</a></li>
                        <li><a href="#">Lantai</a></li>
                        <li><a href="#">Sofa</a></li>
                        <li><a href="#">Sofa Kasur</a></li>
                        <li><a href="#">Tirai</a></li>
                        <li><a href="#">Wallpaper</a></li>
                      </ul>
                    </li>
                    <li><a href="#contact">Ruang Makan & Dapur</a></li>
                    <li><a href="#contact">Kamar Tidur</a></li>
                    <li><a href="#contact">Kamar Tidur Anak</a></li>
                    <li><a href="#contact">Cari Inspirasi Ruangan</a></li>
                  </ul>
            </div>
</nav>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-top:-20px;margin-bottom:20px;">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="asset/images/slide1.jpg" alt="First slide" height="600px">
              </div>
              <div class="item">
                <img src="asset/images/slide2.jpg" alt="Third slide" height="600px">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
<div class="row text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8 btn-mid" id="btn-mid">
    <div class="col-md-4 col-xs-12">
      <a class="btn btn-block fur-btn-primary" href="#" role="button">Lihat Katalog</a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="btn btn-block fur-btn-primary" href="#" role="button">Buat Furnitur Impianmu</a>
    </div>
    <div class="col-md-4 col-xs-12">
      <a class="btn btn-block fur-btn-primary" href="#" role="button">Temukan Inspirasi</a>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
    <div class="col-md-4 col-sm-6 col-xs-8 text-center" style="margin-top:-38px">
      <h2>Cara Kerja</h2>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
  </div>
  <div class="row text-center">
    <div class=col-md-4>
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <i class="fa fa-cloud-upload fa-5x fur-fa"></i><br/>
        <h3>1. Upload Gambar Desain Furnitur Kamu</h3>
      </div>
    </div>
    <div class=col-md-4>
      <i class="fa fa-check fa-5x fur-fa"></i><br/>
        <h3>2. Pilih Material Terbaik & Konfirmasi Pembayaran</h3>
    </div>
    <div class=col-md-4>
      <div class="col-md-8">
        <i class="fa fa-gift fa-5x fur-fa"></i><br/>
        <h3>3. Terima Furnitur Impian Anda</h3>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
    <div class="col-md-4 col-sm-6 col-xs-8 text-center" style="margin-top:-38px">
      <h2>Produk Terbaru</h2>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
  </div>
  <div class="row text-center" style="margin-top:20px">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="imd-responsive" src="asset/images/sofa_ketje.jpg">
      </a>
      <span class="label label-warning">
        <b>Rp 5,000,000</b>
      </span><br/>
      Sofa Ketje
    </div>

  </div>
</div>
<div class="container">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
    <div class="col-md-4 col-sm-6 col-xs-8 text-center" style="margin-top:-38px">
      <h2>Katalog Produk</h2>
    </div>
    <div class="col-md-4 col-sm-3 col-xs-2" style="border-bottom:1px solid #333"></div>
  </div>
  <div class="row text-center btn-produk" style="margin-top:20px">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/wallpaper.jpg">
        <b>Wallpaper</b>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/lantai.jpg">
        <b>Lantai</b>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/hiasan.jpg">
        <b>Hiasan Lantai</b>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/tirai.jpg">
        <b>Tirai</b>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/lampu_gantung.jpg">
        <b>Lampu Gantung</b>
      </a>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="#" title="Lihat Sofa Ketje">
        <img class="img-responsive" src="asset/images/lampu_lantai.jpg">
        <b>Lampu Lantai</b>
      </a>
    </div>
  </div>
</div>
<br/>
<div id="fur-bottom-footer">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <p>&copy; 2016 Furnimade All Rights Reserved</p>
      <p>Developed By <a href="http://dzillaweb.com/">Dzilla Web</a></p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div id="loginModal" class="modal fade in" role="dialog">
  <div class="modal-dialog modal-lg product-modal">
    <div class="modal-content flat text-center" style="border-radius:0px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-close fa-2x"></i>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" style="border-right:1px solid #e0e0e0">
            <div class="input-group margin-bottom-sm form-group" style="border-radius:0px">
              <span class="input-group-addon modal-fa"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="Username">
            </div>
              <div class="input-group margin-bottom-sm form-group">
              <span class="input-group-addon modal-fa"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
                <input class="form-control" type="text" placeholder="Password">
            </div>
            <div class="form-group">
              <a href="#" style="color:#333">Forgot Password ?</a>
            </div>
            <button class="btn btn-md form-control fur-btn-primary" style="border-radius:0px">Login</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
      <div class="modal-footer text-center">
        Belum punya akun ?
         <a href="#"> Daftar Disini</a>
      </div>
    </div>
  </div>
</div>

    <script src="asset/asset_index/bootstrap/js/jquery.min.js"></script>
    <script src="asset/asset_index/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>