body, html{
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	color:#333;
	overflow-x: hidden;
}
.fur-topbar{
	color:#333;
	font-size: 12px;
	background-color: #fff;
	padding:10px 0px 10px 0px;
}
.fur-topbar a{
	color:#333;
	padding: 0px 5px 0px 5px;
}
.navbar-default{
	background-color:#fff;
	border:none;
}
.fur-navbar{
	color:#333;
	font-size:15px;
	margin:35px 0px 0px 0px;
}
.fur-navbar a{
	color:#333;
	font-size:15px;
	padding:0px 13px 0px 0px;
}
.fur-btn-primary {
	color: #fff;
    background-color: #f2bb00;
    border-radius:0px;
}
#fur-btn-primary a:hover{
	background-color:#B3E5FC;
}
.fur-btn-sa button{
	border:0px;
	background-color:#333;
}
.navbar-nav{
	background-color: #f2bb00;
}
.navbar-collapse{
	background-color: #f2bb00;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

#fur-collapse-nav a:hover{
	color: #B3E5FC;
}	
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: #f2bb00;
	color: #fff;
}
.navbar {

        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color:#333;
}
.dropdown-menu{
	background-color: #f2bb00;
}
.dropdown-menu li a{
	color:#fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #f2bb00;
}
.btn-mid a{
	font-size:20px;
	margin-bottom:8px;
}
#btn-mid a:hover{
	color:#B3E5FC;
}
.btn-produk a{
	color:#333;
	font-size: 17px;
}
.btn-produk a:hover{
	text-decoration: none;
}
.btn-produk .slick:hover{
	border: 1px solid #f2bb00;
}
#fur-bottom-footer {
    background: #f2bb00;
    color: #fff;
    font-family: 'Muli', sans-serif;
    height: 100px;
    padding: 20px 0 0 0;
}
#fur-bottom-footer a {
    color: #fff;
}

.fur-fa{
	color: #f2bb00;
}
.product-modal .modal-title{
	padding-top: 50px;
    padding-bottom: 20px;
}
.modal-title {
	font-family: 'Vollkorn', serif;
	font-size:45px;
}
.modal-fa{
	color:#fff;
	background-color:#f2bb00;
}
.label{
	font-size:12px;
	background-color:#f2bb00;
}
.blog-title{
	font-size:28px;
	color:#333;
}
.blog-title a{
	color:#333;
}
.blog-preview{
	margin-bottom:30px;
 	font-size: 18px;
}
.produk-disc{
	color:#f2bb00;
}
.produk-price{
	margin-top:100px;
	font-size:20px;
	color:#f2bb00;
}
.user{
	color:#333;
	font-size:18px;
	background-color:transparent;
	border:none;
}
.user:hover{
	background-color:transparent;
	border:none;
	color:#f2bb00;
}
.user.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.user.btn-primary {
	background-color:transparent;
	border:none;
	color:#333;
}
.cart-btn a{
	font-size:20px;
	color:#f2bb00;

}
.cart-btn a:hover{
	color:#333;
}
.form-impian{
	font-size:15px;
}
.form-control{
	margin-bottom:10px;
}
.input-group-addon{
	background-color: #f2bb00;
	color:#fff;
}
.member-sidebar li .active, .member-sidebar li a:hover {
    background-color: #f2bb00;
    color: #fff ;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

#member-sidebar ul > li > a {
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}
.member-sidebar li a {
    padding: 10px 10px;
    display: block;
    font-weight: 400 ;
    font-size: 18px ;
    background-color: #f2bb00;
    border-left: 3px solid #f2bb00;
    color: #333 ;
    border-bottom: 1px solid #eee;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.member-sidebar li a i {
	margin-right:13px;
	padding:3px 13px 5px 5px;
	border-right:1px solid #eee;
}
.profile button, .profile button:hover, .profile button:active {
    border-radius: 0;
    background-color: #fff;
    border-color: #f2bb00;
    color: #333;
    font-family: MyriadProCond;
    /*padding:5px 5px 5px 5px;*/
}
.profile button {
    color: #fff;
    background-color: #f2bb00;
    border-color: #f2bb00;
    margin-top:5px;
}
.fr{
	font-size:17px;
}
.title-info{
	font-size:16px;
	color:#fff;
	background-color:#f2bb00;
	padding:17px 0px 17px 0px;
	margin-bottom: 20px;
}
.pembayaran{
	font-size:15px;
	margin-bottom: 20px
}
.form-control{
	border-radius: 0px;
}